<!DOCTYPE html>
<html dir='ltr'>
  <head>
    <meta name="charset" content="utf-8" >
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable=no">
    <title>{{ page.title }}</title>
    <script>
      //<![CDATA[
        //if(self != top) { top.location = self.location; }
      //]]>
    </script>
    <link href="./assets/main.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
    <script src="./assets/fuzzy-min.js" type="text/javascript"></script>
    <script src="./assets/hammer-min.js" type="text/javascript"></script>
    <script src="./assets/underscore-min.js" type="text/javascript"></script>
    <script src="./assets/backbone-min.js" type="text/javascript"></script>
    <script src="./assets/main.js" type="text/javascript"></script>
  </head>
  <body>
    {{ content }}
  </body>
</html>
